[Desktop Entry]
Name=Flatstall
Exec=fedora_update_utility %u
Comment=Sideloader for Flatpak
Categories=System;
Terminal=false
Type=Application
Icon=org.fedoraproject.AnacondaInstaller
StartupNotify=true
NoDisplay=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
