[Desktop Entry]
Name=Fedora Update Utility
Exec=@exec@
Comment=A utility to update your Fedora system
Categories=System;
Terminal=true
Type=Application
Icon=org.fedoraproject.AnacondaInstaller

