[Unit]
Description=Checks for updates dail

[Timer]
Unit=fedora_update_utility.service
OnCalendar=*-*-* *:00:00
Persistent=true

[Install]
WantedBy=timers.target